* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 2;
}

#recipe img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto 2em;
}

.container {
    margin: auto;
    padding: 1em;
    max-width: 840px;
}

.bg-light-gray {
    background-color: #ececec;
    border-radius: 10px;
}

.bold {
    font-weight: bold;
}

button {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}

.center {
    text-align: center;
}

#random {
    background-color: darkorange;
    color: #fff;
    margin-bottom: 2em;
}

@media screen and (min-width: 600px) {
    .container {
        padding: 2em;
    }
}